# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

numba
numpy
pandas
pip
pytables
quantstats
requests
yfinance
pandas_ta
yaml
